<div class="footer">
    <div class="social">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="copy">
        <a href="#">&copy;Wanderlust Private Limited</a>
    </div>
    <div class="privacy">
        <a href="PrivacyTerms">PrivacyTerms</a>
    </div>
</div>