html, body {
  font-family: "plus Jakarta", sans-serif !important;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.navbar {
  background-color: white;
}
.nav-link {
  color: #222222 !important;
}
.fa-compass {
  color: #ff385c;
}

/* cards */
#row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#cards {
  padding: 0;
  margin: 0;
}
.card{
  border: none !important;
}
.listing-card {
  border: none !important;
  box-shadow: none !important;
}
.card-img-top {
  border-radius: 1rem !important;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  background-color: white;
  opacity: 0.2;
}
/* new listing */
.listing-button {
  background-color: #ff385c !important;
  border: none !important;
}
.listing-button:hover {
  background-color: #eb2e51 !important;
}

/* show page */
.show-img {
  height: 25vw;
  object-fit: cover;
}
#map {
  height: 400px;
  width: 100%;
  margin-top: 10px;
}
/* edit page */

.edit-image {
  height: 10vw;
}

/* footer */
.footer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.footer i {
  font-size: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #222222;
  font-weight: 400;
}
.footer a:hover {
  text-decoration: underline;
}
.button-container {
  display: flex;
  gap: 2rem;
}
